.projects {
  padding: 5rem 0;
}

/* ============ CONTAINERS =============== */

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

/* ========== CARDS =========== */

.project-card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--shadow-sm);
  border: solid 1px var(--neutral-300);
  transition: transform ease-in-out, box-shadow 0.3s ease;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-card:hover {
  box-shadow: var(--shadow-lg);
}


/* ================ PROJECT FOOTER ============= */


.project-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  margin-top: auto;
  border-top: 1px solid var(--neutral-300);
}

.project-year {
  color: var(--neutral-600);
  font-size: 0.85rem;
}

/* =========== LINK ============ */


.project-card:hover .link {
  color: var(--accent);
}

.project-card:hover .link::after {
  transform: translateX(5px);
}


/* ================== PROJECT DETAIL ===================== */

.project-detail-section {
  padding: 5rem 0rem;
}

.project-image {
  width: 30%;
  max-height: 300px;
  object-fit: cover;
  border-radius: var(--radius-lg);
}

.project-detail-container {
  display: flex;
  padding: 2rem 0rem;
  gap: 2rem;
}

/* ========== MEDIA =============== */

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .projects-filters {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .project-image {
    width: 100%;
  }

  .project-detail-container {
    flex-direction: column;
  }
}
