.projects {
  background-color: var(--neutral-200);
  padding: 5rem 0;
}


/* ========== FILTERS ============= */

.projects-filters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
  flex-wrap: wrap;
}

.filter-icon {
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%2300884a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.5rem;
}

.filter-btn {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-md);
  color: var(--neutral-700);
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: var(--font-family);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  font-size: var(--font-size);
}

.filter-btn:hover {
  color: var(--secondary);
  background-color: var(--neutral-200);
}

.filter-btn.active {
  background-color: var(--secondary);
  color: white;
}

/* ============ CONTAINERS =============== */

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

/* ========== CARDS =========== */

.project-card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--shadow-sm);
  border: solid 1px var(--neutral-300);
  transition: transform ease-in-out, box-shadow 0.3s ease;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-lg);
}


/* ================ TEXT ============= */

.project-description {
  color: var(--neutral-600);
  flex-grow: 1;
}

.project-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  margin-top: auto;
  border-top: 1px solid var(--neutral-300);
}

.project-year {
  color: var(--neutral-600);
  font-size: 0.85rem;
}

/* =========== LINK ============ */

.project-link {
  color: var(--primary);
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.project-link::after {
  content: "→";
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

.project-card:hover .project-link {
  color: var(--accent);
}

.project-card:hover .project-link::after {
  transform: translateX(5px);
}

/* ========== MEDIA =============== */

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .projects-filters {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}
