/* ========== FILTERS ============= */

.projects-filters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
  flex-wrap: wrap;
}

.filter-icon {
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%2300884a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.5rem;
}

.filter-btn {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-md);
  color: var(--neutral-700);
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: var(--font-family);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  font-size: var(--font-size);
}

.filter-btn:hover {
  color: var(--primary);
  background-color: var(--neutral-200);
}

.filter-btn.active {
  background-color: var(--secondary);
  color: white;
}