
/* ========== ABOUT CONTAINERS =========== */

.about {
  padding: 5rem 0;
}

.about-content {
  display: grid;
  grid-template-columns: 40% 0.9fr;
  gap: 4rem;  
}

/* =========== ABOUT IMAGE ============= */

.about-image {
  position: relative;
  border-radius: var(--radius-lg);
  overflow: hidden;
  max-height: 380px;
  object-fit: cover;
  object-position: bottom;
}

.about-img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease;
}

.about-image:hover .about-img {
  transform: scale(1.05);
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
  color: white;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  border-top-right-radius: var(--radius-md);
}

/* ============ ABOUT TEXT =========== */

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text p {
  margin-bottom: 1.5rem;
}


@media (max-width: 992px) {
  .about-content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .about-image {
    max-height: 400px;
    overflow: hidden;
  }

  .about-img {
    object-fit: cover;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .about-text h2 {
    font-size: 2rem;
  }
}
